
  <div class = "headlines">
    <div class="row">
    <div class="col-md-8">
      <h1>Saved Articles</h1>
    {{#each headlines}}
    <div class="card">

        <div class="card-body">


          <h5 class="card-title"><a href = "{{link}}" target="_blank">{{title}}</a></h5>
          <button class = "note" data-id = "{{id}}">Add Note</button>
          <button class = "one" data-id = "{{id}}">Show Note</button>
          <button class = "delete-headline" data-id = "{{id}}">Delete from Saved</button>



      </div>
      </div>
      {{/each}}
    </div>
    <div class="col-md-4">
      <div class="notes"></div>
    </div>
  </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group">

    <textarea class="form-control note-input note-area" aria-label="With textarea"></textarea>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary save-note" data-dismiss="modal">Save note</button>

        </div>
      </div>
    </div>
  </div>
